/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.button-footer {
    margin-top: 15px;
}

.container {
    max-width: 90%;
}

.display-container .card .col-md-8 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-control {
    border: 1px solid transparent;
    background-color: transparent;
    box-shadow: none;
    color: #f0ad4e;
    padding: 5px;
    height: 23px;
}

.form-control:disabled {
    border: 1px solid transparent;
    background-color: transparent;
    box-shadow: none;
    color: #1f2c3e;
    padding: 5px;
    height: 23px;
}

.form-header h1 {
    font-weight: bold;
    color: #1f2c3e;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
    font-variant: small-caps;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.pad-md-right {
    margin-right: 10px;
}

.row .section-header {
    background-color: #1f2c3e;
}

.search-input:focus {
    color: #1f2c3e;
    font-weight: bold;
    font-variant: small-caps;
}

.section-header h4 {
    font-weight: bold;
    font-variant: small-caps;
    color: #526674;
    margin-bottom: 1px;
    padding-bottom: 3px;
    /*background-color: #428bca;*/
    padding-left: 3px;
}


